* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-bookmark {
  width: 20px;
  height: 25px;
}

.icon-share {
  position: absolute;
  right: 15px;
  top: 100px;
}

.post-tag {
  text-transform: lowercase;
}

.text-capitalized {
  text-transform: capitalize;
}

.flex-1 {
  flex: 1;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-username {
  font-weight: bold;
}

.comment-interactions {
  font-size: 14px;
  color: #979dac;
}

.comment-like-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.comment-input {
  border: 1px #979dac solid;
  border-radius: 20px;
  padding-left: 15px;
  height: 38px;
  outline: none;
}

.rec-topics-container {
  width: 100%;
  overflow-x: scroll;
}

.rec-topics {
  border: 1px solid black;
  height: 100px;
  flex: 0 0 160px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-star:before {
  content: "\f005";
}

.rating-list li i.yellow {
  color: #ffd700;
}

.rating-list li i.gray {
  color: #bbb;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.rating-list li {
  padding: 0px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

#nav {
  background-color: #185d8b;
  color: white;
}
