.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.btn-primary {
  border-radius: 10px;
  margin: 20 px;
}

#EditProfileButton {
  visibility: visable;
}

#UpdateProfileButton {
  visibility: hidden;
}

#CancelProfileButton {
  visibility: hidden;
}

#nav {
  background-color: #185d8b;
  color: white;
}
