.btn-primary{
    border-radius: 10px;
    margin: 20 px;
}

#EditProfileButton{
    visibility: visable;
}

#UpdateProfileButton{
    visibility: hidden;
}

#CancelProfileButton{
    visibility: hidden;
}