.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.popular-subject {
  width: 100%;
  align-items: center;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.resultNum {
  margin: 20px;
  text-align: center;
}

.separated-line {
  height: 4px;
  margin-top: 5px;
  width: 100vw;
}

#search-content {
  padding-bottom: 20px;
}

#nav {
  background-color: #185d8b;
  color: white;
}
